<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/recipes">
      <input type="text" name="name" value="Name">
      <input type="text" name="ingredients" value="Ingredients">
      <input type="text" name="cook_time" value="Cook Time">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
